body {
    background-color: rgb(46, 46, 46);
    color: #ffffff;
    overflow: hidden;
    font-family: RobotMono;
}

@font-face {
    font-family: "TiltNeon";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
        url("./fonts/TiltNeon-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotMono";   /*Can be any text*/
    src: local("RobotoMono-Regular"),
        url("./fonts/RobotoMono-Regular.ttf") format("truetype");
}